In [ ]:
# Declare a string

In [1]:
single_quote = 'Single quote'
print(single_quote)
type(single_quote)

Single quote

str

In [2]:
double_quotes = "Double quotes"
print(double_quotes)

Double quotes

In [3]:
nested_quote = 'She exclaimed: "The mule has been fixed!"'
print(nested_quote)

She exclaimed: "The mule has been fixed!"

In [4]:
multiline = '''Line one
line two
line three'''
print(multiline)

Line one
line two
line three

In [5]:
# Concatenate
a = "Today is "
b = "Monday"
a + b

'Today is Monday'

In [7]:
# Multiply
vlan = "VLAN "
vlan * 5

'VLAN VLAN VLAN VLAN VLAN '

In [17]:
# String interpolation
# Manchester United won Champions League in 1999

team = "Liverpool"
tournament = "Champions League"
year = 1999

In [13]:
print(team + " won " + tournament + " in " + str(year))

Manchester United won Champions League in 1999

In [14]:
sentence = "{} won {} in {}".format(team, tournament, year)
print(sentence)

Manchester United won Champions League in 1999

In [15]:
sentence = "{} won {} in {}".format(year, team, tournament)
print(sentence)

1999 won Manchester United in Champions League

In [16]:
# format(year, team, tournament)
#         0      1       2
sentence = "{1} won {2} in {0}".format(year, team, tournament)
print(sentence)

Manchester United won Champions League in 1999

In [18]:
sentence = f"{team} won {tournament} in {year}"
print(sentence)

Liverpool won Champions League in 1999

In [20]:
# Splitting
sentence.split()

ip = '192_168_1_1'
ip.split('_')

['192', '168', '1', '1']

In [21]:
phrase = "one_two_three_four_five"
words = phrase.split('_')
print(words)

['one', 'two', 'three', 'four', 'five']

In [22]:
# Joining
", ".join(words)

'one, two, three, four, five'

In [28]:
# Accessing elements of the string
print(phrase[-2])

v

In [32]:
# Slicing [start:stop:step]

alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
#           012345678
#             ****
alphabet[2:5:]

'CDE'

In [30]:
alphabet[-3::]

'XYZ'

In [31]:
alphabet[-3::]

'XYZ'

In [ ]:
print(alphabet)

In [ ]:
len(nested_quote)